/* basicCSS.css */

/* Page */
body{
  margin: 20px;
  background: #b7dde8; /* light blue */
  color: #000;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

/* Big title */
h1{
  text-align: center;
  font-size: 72px;
  font-weight: 800;
  margin: 10px 0 20px;
}

/* Section headings */
h2{
  font-size: 32px;
  font-weight: 800;
  margin: 10px 0 8px;
}

h3{
  font-size: 22px;
  font-weight: 800;
  margin: 18px 0 8px;
}

/* Paragraph spacing */
p{
  font-size: 14px;
  margin: 10px 0;
}

/* Green bordered paragraph box */
#paragraph2 {
  width: 60%;
  padding: 15px;
  padding-left: 45px;
  padding-right: 30px;
  margin: 20px;
  border: 3px solid green;
  background-color: white;
  line-height: 1.6em;
}

/* Dark blue highlight paragraphs */
.blue{
  background: #061a7a;   /* deep blue */
  color: #fff;
  padding: 14px 12px;
  border: 3px solid #000;
  margin: 14px 0;
  box-sizing: border-box;
}

/* List formatting*/
ol{
  list-style-type: decimal-leading-zero;
  padding-left: 28px;
  margin: 10px 0 20px;
}

/* Links */
a{
  color: #0000ee;
  text-decoration: underline;
}

a[href*="w3schools"]{
  color: #b00000;
}

/* Table */
table{
  border-collapse: collapse;
  margin-top: 10px;
  width: 40%;
}

th, td{
  border: 1px solid #000;
  padding: 8px 10px;
  text-align: left;
}

th{
  background: rgb(200, 200, 200);
  font-weight: 800;
}

td {
  background-color: #ffffff;
}